.resetpage {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  .resetpage input {
    max-width: 370px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    background: #fff;
    padding: 0px 24px 0px 10px;
    margin: 10px 0px;
  }
 