/* .App {
  text-align: center;
} */
.btn{
  border:none;
  outline:none;
  background:none;
  font-size: "18px";
}
.btn:hover{
  color: #3E64FF;
}
.bluebtn{
  border:none;
  outline:none;
  background:#3E64FF;
  padding: 0px 24px 0px 10px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 335px;
  text-transform: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
